#colores {
    color: #474b44;
}

#colores{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;

    color: rgb(12, 14, 112);

    border: 10px dotted #0d0e5e ;

    width: 200px;
    height: 200px;
    overflow: scroll;
    margin: 20px;
    padding: 10px;
}
